@use 'src/styles/variables' as var;
@use 'src/styles/mixins' as mix;

.taskCard {
  box-shadow: 0px 2px 5px -6px var.$color-primary-dark;
  min-height: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 var.$space-m calc(var.$space-m + var.$space-s);
  @media only screen and (min-width: var.$screen-xs) {
    padding: 0 var.$space-l calc(var.$space-m + var.$space-s);
  }

  &:hover {
    box-shadow: 0px 2px 5px -5px var.$color-primary-dark;

    .btnRemove {
      visibility: visible;
    }
  }

  .btnRemove {
    @media (hover: hover) {
      visibility: hidden;
    }
  }
}
