$color-primary-dark: #003049;
$color-primary-light: #669bbc;
$color-secondary: #fdf0d5;
$color-action: #7a4100;

$screen-xs: 360px;
$screen-s: 420px;
$screen-m: 800px;
$screen-l: 1280px;
$screen-xl: 1920px;

$space-s: 4px;
$space-m: 8px;
$space-l: 16px;

$radius-s: 4px;
$radius-m: 8px;
$radius-l: 16px;
