@use 'src/styles/variables' as var;
@use 'src/styles/mixins' as mix;

.tasksContainer {
  @include mix.container;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var.$color-primary-dark var.$color-primary-light;

  .title {
    padding-left: var.$space-l;
    font-size: 1em;
    font-weight: 600;
  }

  .empty {
    padding-left: var.$space-l;
  }
}
